/* =Main Styles
__________________________________*/
@import url(../../../global/css/layout.css);
@import url(../../../global/css/blocks/b-form.css);

/* =User Styles
__________________________________*/
.b-errors {
    margin: 10px 0 10px 0;
    color: crimson;
}

.i-error {
    border: 1px solid crimson;
}